@media (max-width: 991px)
{
    nav
    {
        background-color: transparent;
    }

    .navbar-toggler
    {
        background-color: #f60;
    }

    .offcanvas
    {
        background-color: rgb(226, 226, 226);
        color: #f60;
        
    }

    .navbar-dark .navbar-toggler
    {
        border-radius: 10px;
    }

    .our-team{
        margin-bottom: 30px;
    }
}

@media(max-width:780px)
{
    .cards_zadachi
    {
        flex-direction: column;
    }

    .card_zadachi
    {
        width: 70%;
    }
}



@media (max-width: 500px)
{
    header h1
    {
        font-size: 10vw;
    }
    .title-bold
    {
        font-size: 16px;
    }
}
@media (max-width: 400px)
{

    .title-bold
    {
        font-size: 13px;
    }
}

@media (max-width: 450px)
{
    
.card_zadachi_txt h3
{
    font-size: 20px;
}

.card_zadachi_txt p
{
    font-size: 14px;
}
}

@media (max-width: 350px)
{
    
.card_zadachi_txt h3
{
    font-size: 14px;
}

.card_zadachi_txt p
{
    font-size: 10px;
}
}

@media (max-width: 600px)
{
    .p
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: none;
        padding-bottom: 5px;
    }
    .p p
     {
        margin-bottom: 10%;
        font-size: 1.5vw;
     }
     .filter_img 
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .img_p
    {
    width: 50%;
    margin-bottom: 5%;
    }
    .get-ticket
    {
        position: absol;
    }
}

@media (max-width: 767px)
{
    .footer_kontakt
{
    justify-content: center;
    margin-bottom: 5%;
}
h4
{
    text-align: center;
    margin-top: 5%;
}
.column
{
    justify-content: center;
    align-items: center;
}
.footer_button
{
    width: 20%;
    font-size: 2vw;
    height: 40px;
}
}

@media (max-width: 1170px) {
	.footer-cta-title {
		font-size: 26px;
		margin-bottom: 15px;
	}

	.footer-cta-text {
		font-size: 22px;
	}
}

@media (max-width: 1170px) {
	.social-icon-link {
		margin-right: 15px;
		margin-bottom: 15px;
	}
}

